<html>

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> </head>

<body>
	<div class="container">
		<div class="jumbotron jumbotron bg-light">
			<div class="container" style="height: 100px; padding: 0">
				<h1 class="display-4 text-warning">Quiz!</h1>
				<p class="lead"><span class="text-danger font-weight-bold">Trap</span> or <span class="text-success font-weight-bold">not Trap</span>?</p>
				<p>Type <code>y</code> or <code>n</code> for each picture in quiz! <code>(Example: yynnynyny)</code></p>
			</div>
		</div>
		<div class="row">
			{{images}}
		</div>
		<form method="GET" action="/postquiz">
			<div class="form-group row my-2">
				<input name="name" value="{{name}}" hidden>
				<label for="Answer" class="col-sm-2 col-form-label text-primary"> Your answer:</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="Answer" placeholder="" name="answer"> </div>
				<button type="submit" class="btn btn-primary">Nyaa!</button>
			</div>
		</form>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>