{% extends "base.html" %}
{% block name %}Dashboard{% endblock %}
{% block title %}Мои флаги{% endblock %}
{% block content %}
  <div class="jumbotron" style="padding: 1rem;">
    <p><b>Kappa Бонус</b> — твой способ поднять бабла. Нужно всего лишь три раза за раунд...</p>
    <p>Регулярные выплаты от $30 на банковские счета РФ, карты Visa/МИР/ЛИТ,
    Ыжкоины, Сбербанк Онлайн</p>
    <p>За нашими плечами годы работы, десятки довольных клиентов и миллиарды
    выплат</p>
  </div>

  <h2>История</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>#</th>
          <th>Флаг</th>
          <th>Команда</th>
          <th>Стоимость</th>
        </tr>
      </thead>
      <tbody>
        {% for flag in flags %}
        <tr>
          <td>{{ flag[0] }}</td>
          <td>{{ flag[1] }}</td>
          <td>{{ flag[2] }}</td>
          <td>${{ flag[3] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
